{% extends "add.html" %}
{% block add %}
			<section name="{{entry}}" class="{{entry}}">
				<form method="post">
					<h4>Quote</h4>
					<textarea name="quote">{{quote}}</textarea>
					<h4>Source</h4>
					<input type="text" name="source" class="source" value="{{source}}"></input>

					<h5>Where are you?</h5>
					<input type="text" class="foot" name="location" value="{{location}}"></input>

					<h5>Tags (not required)</h5>
					<input type="text" class="foot" name="tags" value="{{tags}}">
						<aside>
							{{error}}
						</aside>
						<h5>Delete</h5><input type="checkbox" value="True" name="delete">
					<input type="submit">
				</form>
			</section>
{% endblock %}