<!DOCTYPE HTML>

<html>

	<head>
		<title> </title>
	</head>

	<body>
		<form method="post">
			Username: <input type="text" name="username" value="{{username}}">{{user_error}}<br>
			Password: <input type="password" name="password" value="{{password}}">{{pass_error}}<br>
			Verify Password: <input type="password" name="verify" value="{{verify}}">{{ver_error}}<br>
			Display Name: <input type="text" name="display" value="{{display}}">{{disp_error}}<br>
			<input type="submit">



	</body>

</html>